:root {
  --color-blue-500: #061028;
}

body {
  min-height: 400vh;
  background-color: var(--color-blue-500);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

p:not(:first-of-type) {
  margin-top: 1rem;
}